#intro-page{
    position: relative;
    width: 100%;
    height: 100vh;
}

#intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#intro #intro-heading.animate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


#intro-heading h1{
    transform: translate(-40%,0%);
    opacity: 0;
    transition: transform 0.7s ease-in-out,opacity 0.4s ease-in-out;
}

#intro-heading h2{
    transform: translate(-50%,0%);
    opacity: 0;
    transition: transform 1s ease-in-out,opacity 0.3s ease-in-out;
}

#intro-heading.animate.now h1{
    opacity: 1;
    transform: translate(0%,0%);
}
#intro-heading.animate.now h2{
    opacity: 1;
    transform: translate(0%,0%);
}



#intro h1{
    color: white;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 700;
}

#intro h2{
    margin-top: 50px;
    font-size: 22px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    word-spacing: 2px;
}

#social h2{
    color: white;
    font-weight: 700;
}

#social-icons{
    display: flex;
    flex-direction: row;
}

#social-icons img{
    margin-top: 1em;
    margin-right: 1em;
    width: 3em;
    transform: scale(0.8);
    filter: grayscale(2);
    cursor: pointer;
    transition:transform 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06), filter 0.5s ease-in-out;
}

#social-icons img:hover{
    transform: scale(1);
    filter: grayscale(0);
}

#intro #intro-image{
    position: relative !important;
    margin: 20px !important;
    height: auto !important;
    width: 100% !important;
    overflow: hidden;
}


#intro-img img.animate{
    transform: translate(0%,50%);
    opacity: 0;
    transition:opacity 0.5s ease-in-out, transform 1s cubic-bezier(.75,0,.24,.99);
}

#intro-img img.animate.now{
    opacity: 1;
    transform: translate(0%,0%);
}
