#intro-page{
    position: relative;
    width: 100%;
    height: 100vh;
}

#intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#intro #intro-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


#intro h1{
    color: white;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 700;
}

#intro h2{
    margin-top: 50px;
    font-size: 22px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    word-spacing: 2px;
}

#social h2{
    color: white;
    font-weight: 700;
}

#social-icons{
    display: flex;
    flex-direction: row;
}

#social-icons img{
    margin-top: 2em;
    margin-right: 2em;
    width: 3em;
}
