@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#Navbar{
    margin: 3em 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: 300;
    align-items: center;
    font-size: 8px;
    color: white;
}

#logo h1{
    font-size: 25px;

}

#links{
    display: flex;
    justify-content: space-between;
}

#links h1{
    margin: 0 0 0 2em;
}